@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Jost&family=Poor+Story&display=swap');

body{
    font-family: 'Barlow', sans-serif;   
    margin: 20px;
    font-size: large;
    background-color: lightgray;
}


fieldset{
    width: 50%;
}

input[type="text"]{
    width: 40%;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    border: 1px #0051ff solid;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
}

button{
    border-radius: 0 10px 10px 0;
    padding: 10px;
    border: 1px #0051ff solid;
    margin-left: -5px;
    background-color: #0051ff;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
}

#clearTodo{
    margin-top: 10px;
    padding: 5px 25px;
    border-radius: 8px;
    border: 1px grey solid;
    background-color: darkslategrey;
    color: white;
    font-size: 15px;
}

@media screen and (max-width:1000px) {
    fieldset{
        width: 90%;
    }   

    input[type="text"]{
        width: 70%;
    }
}